body {
    margin: 0px;
}

article {
    font-family: "TyponineSans Regular 18", "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #4f4e4e;
    -webkit-font-smoothing: antialiased;
    padding: 15px 20px;
    max-width: 920px;
    margin: 0 auto;
}

h2 {
    font-family: "TyponineSans Regular 18", "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 40px;
    color: #4f4e4e;
    margin-top: .6em;
    margin-bottom: .6em;
    line-height: 1.2em;
}
